@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); /*ye font mujhe dede thakurrr*/
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;  /*row ma banaunxa*/
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 26%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;
}
.nav-list{
    width: 70%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    
}

.nav-list li{
    list-style: none;   /*bindu haru hatxa*/
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none; /*underline hatxa of hyperlink*/
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;

}
.nav-list li a:hover{
    color: gray;
}

.rightNav{
    /* background-color: blueviolet; */
    width: 30%;
    text-align: right;
    padding: 0 23px;
}
#search{
    padding: 5px;
    font-size: 17px; /*normally 16px hunxa*/
    border: 2px solid grey;
    border-radius: 9px;
    /* margin: 10px; */
}

.background{
    background: rgba(0, 0, 0, 0) url(/img/bgimg.avif);
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
    
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(36, 26, 8);
    font-family: 'Courier New', Courier, monospace;
    max-width: 50%;
    margin: auto;
    padding-top: 17vw;
    padding-left: 10vw;
    /* height: 80%; */

}

.firstHalf{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondHalf{
    width: 30%;
}

/* .secondHalf img{
    height: 111px;
    width: 130px;
    margin-top: 10px;
} */

.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto; 
}

.text-big{
    font-size: 41px;
}
.text-small{
    font-size: 18px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    /* font-size: 12px; */
    background: none;   /*makes btn transparent*/
    color: white;
    cursor: pointer;    /*mouseko pointer arrow lai hand banaunxa*/
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.btn-dark{
    color: black;
    border: 2px solid grey;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.section{
    /* height: 500px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 70%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

.section-left{
    flex-direction: row-reverse;
}
.thumbnail img{
    height: 11vw;
    width: 16vw;

}

.paras{
    padding: 0px 65px;
}

.sectionTag{
    padding: 16px 0px;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}

.contact{
    background-color: aquamarine;
    height: 833px;
}

.text-centre{
    text-align: center;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}

.form{
    max-width: 62%;
    margin: 25px auto;
}

.form input{
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;  /*Vrertical alignmentko lagi*/
    justify-content: center;
    color: white;
}

.burger{
    display: none; /*Logical part*/
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
